@font-face {
  font-family: 'iconfont';  /* project id 408202 */
  src: url('http://at.alicdn.com/t/font_408202_scpte3lszc8a1yvi.eot');
  src: url('http://at.alicdn.com/t/font_408202_scpte3lszc8a1yvi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_408202_scpte3lszc8a1yvi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_408202_scpte3lszc8a1yvi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_408202_scpte3lszc8a1yvi.svg#iconfont') format('svg');
}

/*在线远程*/
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
  /*头部开始*/
header{
  width:100%;
  height:2.7rem;
  background-color:#333;
  padding:0 .6rem;
  position:fixed;
  left:0;
  top:0;
  z-index:999;
}
.head-box{
  width:5.4rem;
  height:2.7rem;
  padding:.64rem 0;
}
.head-img{
  width:1.42rem;
  height:1.42rem;
  border-radius:50%;
  float:left;
}
.head-right{
  width:3rem;
  height:1.6rem;
  margin-left:.3rem;
  float:left;
}
.head-right h5{
  height:.86rem;
  line-height:.86rem;
  font-size:.4rem;
  color:#fff;
  padding-top:.2rem;
  margin-bottom:.2rem;
}
.head-right h6{
  height:.43rem;
  line-height:.43rem;
  font-size:.3rem;
  color:#7f7f7f;
}
  /*头部结束*/

  /*内容开始*/
section{
  position:absolute;
  top:2.7rem;
  left:0;
  right:0;
  margin:auto;
  background-color:#f4f4f4;
  padding-bottom:.99rem;
}
.list-box{
  width:100%;
  height:9.04rem;
  margin-bottom:.8rem;
}
.list-li{
  width:2.48rem;
  height:1.8rem;
  float:left;
  border-right:1px solid rgba(0,0,0,.15);
  border-bottom:1px solid rgba(0,0,0,.15);
  background-color:#fff;
}
.list-li a{
  width:2.48rem;
  height:1.8rem;
  display:block;
  padding-top:.3rem;
}
.list-li  a i{
  width:1rem;
  height:1rem;
  margin:0 auto;
  display:block;
  color:#333;
  font-size:.48rem;
  line-height:1rem;
  text-align:center;
}
.list-li  a h6{
  color:#333;
  font-size:.3rem;
  height:.48rem;
  line-height:.48rem;
  text-align:center;
}
.list-li-1{
  border-right:none;
}

  /*退出*/
.button-box{
  width:7.5rem;
  height:.98rem;
  background-color:#fff;
  border:none;
  outline:none;
  margin-bottom:.4rem;
}

  /*内容结束*/

    /*底部开始*/
footer{
  width:100%;
  height:.99rem;
  background-color:#fafafa;
  position:fixed;
  bottom:0;
  left:0;
  padding:0 .12rem;
}
.bottom{
  width:25%;
  height:.99rem;
  float:left;
}
.bottom span{
  font-size:.24rem;
  height:.3rem;
  line-height:.35rem;
  color:#7f7f7f;
  margin-left:.65rem;
  display:block;
}
.bottom1 span{
  color:#a63433;
}
.bottom a{
  display:block;
  width:.88rem;
  height:.62rem;
  margin:0 auto;
}
.bottom a i{
  color:#7f7f7f;
  font-size:.3rem;
  display:block;
  text-align:center;
  line-height:.62rem;
}
.bottom1 a i{
  color:#a63433;
}
  /*底部结束*/